
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}


/*timeline*/
.axis text {
  font: 11px sans-serif;
}

.axis path {
  display: none;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid-background {
  fill: #ddd;
}

.grid line,
.grid path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.grid .minor.tick line {
  stroke-opacity: .5;
}

.brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

path.line {
    fill: none;
    stroke-width: 2px;
    stroke-opacity: .2;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    background:#343838;
    overflow: hidden;
}

footer p {
    padding:5px 0 12px 10px
}

.container-fill{
    margin: 0 auto;
    height: 100%;
    padding: 40px 0 60px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fill {
    height: 100%;   
}